body {
    background-color: #232323;
    margin:0;
    font-family: "Monserrat","Avenir";
}
.square {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;



}
#container {
    margin: 20px auto;
    max-width: 600px;
}


h1 {
    text-align:center;
    line-height: 1.1;
    color: white;
    font-weight: normal;
    background: steelblue;
    margin:0;
    text-transform: uppercase;
    padding: 20px 0;
    
}

#message{
    display: inline-block;
    width: 20%;
}

#stripe{
    background: white;
    height: 30px;
    text-align: center;
    color: black;
}

.selected{
    color: white;
    background: steelblue;
}
#colorDisplay{
    font-size: 180%;
}
button{
    border: none;
    background: none;
    text-transform: uppercase;
    font-weight: 700;
    color: steelblue;
    font-family: "Monserrat","Avenir";
    font-size: inherit;
    height: 100%;
    letter-spacing: 3px;
    outline: none;
    transition: all 0.5s;
    -webkit-transition:  all 0.5s;
    -moz-transition:  all 0.5s;


}
button:hover{
    color: white;
    background: steelblue;
}
